<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Film Fans Critique</title>
    <link rel="stylesheet" href="/style.css" media="screen">
</head>

<body>
    <div class="top-part">
        <h1>Film Fans Critique</h1>
        <h3>By Basil Noor</h3>
        <nav>
            <div class="nav-bar">
                <a href="/">Home</a>
                <p>|</p>
                <a href="/movies">Movies</a>
                <p>|</p>
                <a href="/genres">Genres</a>
                <p>|</p>
                <a href="/movie-reviews">Movie Reviews</a>
                <p>|</p>
                <a href="/movie-directors">Movie Directors</a>
                <p>|</p>
                <a href="/reviewers">Reviewers</a>
                <p>|</p>
                <a href="/directors">Directors</a>
            </div>
        </nav>
    </div>
    {{{ body }}}
</body>
<br>
<br>
<footer class="footer">
    <p>Basil Noor &copy; 2022</p>
</footer>

</html>