<br>
<br>
<h2>Welcome to the ultimate film review website</h2>
<p>
    Our mission statement is to allows users to provide authentic film critiques so that
    it is easier to find films that we can all enjoy on our movie nights.
</p>
<br>
<div class="index-container">
    <img src="img/dark_knight.jpg" alt="The Dark Knight">
</div>
<br>
<br>
<br>