body {
    background-color: #36393f;
    color: white;
    text-align: center;
}

h1 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: white;
}

a:hover {
    color: red;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    width: 50%;
    text-align: center;
    min-width: 75%;
}

th {
    padding: 5px;
    font-size: large;
    background-color: rgba(48, 69, 87, 0.87);
    color: white;
}

.dataTable thead {
    pointer-events: none;
}

.dataTable tr:nth-child(even) {
    background-color: rgb(171, 179, 189);
    color: black;
}

.dataTable tr:nth-child(odd) {
    background-color: #f2f2f2;
    color: black;
}

.dataTable tr:hover {
    background-color: rgb(119, 56, 56);
    color: white;
}

.nav-bar {
    background-color: rgba(48, 69, 87, 0.87);
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px rgb(78, 27, 27);

}

.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.nav-bar a:hover {
    border-bottom: 3px solid rgb(160, 3, 3);

}

.nav-bar a:active {
    border-bottom: 3px solid rgb(160, 3, 3);
}

.top-part {
    background-color: slategray;
    color: white;
    padding-top: 10px;
}

.top-part h1 {
    text-shadow: #36393f;
}

.index-container {
    padding-top: 50px;
}

.form {
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    min-width: 60%;
}

.form legend {
    color: red;
}

.form p {
    text-align: center;
}

.reviewSearch {
    display: flex;
    justify-content: center;
}

.reviewForm {
    padding: 3%;
}

.reviewButton {
    width: 125px;
}

.footer {
    clear: both;
    border: 1px groove #aaaaaa;
    background: rgb(34, 37, 37);
    color: White;
    padding: 0;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: medium;
}